<!-- Create Project Container -->
<div class="container">
    <p class="heading">Create Project</p>

    <!-- Form to create a project -->
    <form id="createProjectForm" action="/project/create" method="POST">
        <input type="text" name="title" placeholder="Project Name" required>
        <textarea rows="7" name="description" placeholder="Description..." required></textarea>
        <input type="text" name="author" placeholder="Author Name" required>
        <input type="submit"value="Create">
    </form>
</div>